.form-container{

}
.booking-form{
    background-color: #495E57;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-form h2 {
  color: #F4CE14;
  margin-left: 368px;
  align-self: flex-start;
}
.form{
    margin-top: 20px;
    /* margin: 100px 100px; */
    max-width: 700px;
    /* align-items: ; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

/* to make labels at top of the input */
.booking-form label {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }

  .res-date-active{
    padding: 16px;
    width: 280px;
    text-align: center;
    cursor: pointer;
    background-color: #EDEFEE;
    border-radius: 6px;
    border: none;
    box-shadow: 5px 5px 10px 2px rgba(54, 53, 53, 0.8);

  }
  *:focus{
    outline: none;
  }
  .res-date-active::placeholder {
     color: #495E57;
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
    text-align: center;
    /* removes the default translucent color */

  }

  .res-date-inactive{
    padding: 16px;
    width: 280px;
    text-align: center;
    cursor: pointer;
    background-color: #495E57;
    border-radius: 6px;
    border: none;
    color: #EDEFEE;
    font-size: 14px;
    font-weight: bold;
    border-bottom: #EDEFEE;
   box-shadow: 5px 5px 10px 2px rgba(54, 53, 53, 0.8);
  }
  .res-date-inactive::placeholder {
    color: #EDEFEE;
    font-size: 15px;
    font-weight: bold;
    opacity: 1;  
    text-align: center;
    /* removes the default translucent color */

  }

/* how to put icon in input element */
  .icon-wraper{
    position: relative;
  }
  
  .icon-inactive{
  position: absolute;
  top: 60%;
  right: 245px;
  transform: translateY(-30%);
  color: #EDEFEE;
  align-items: center;

  }

  .icon-2-active{
    position: absolute;
    top: 65%;
    right: 20px;
    transform: translateY(-30%);
    color: #495E57;
    align-items: center;

  }

  .icon-2-inactive{
    position: absolute;
    top: 65%;
    right: 60px;
    transform: translateY(-30%);
    color: #EDEFEE;
    align-items: center;

  }


.indoor{
    margin:5px 10px;
}

/* Styling for  input/options */

.time-input{
    padding: 16px;
    width: 280px;
    text-align: center;
    /* appearance: none; */
    cursor: pointer;
    background-color: #EDEFEE;
    border-radius: 6px;
    border: none;
    box-shadow: 5px 5px 10px 2px rgba(54, 53, 53, 0.8);
}



/* Styling for the number of guests input */
.guests-input{
  padding: 16px;
  width: 280px;
  text-align: center;
  cursor: pointer;
  background-color: #EDEFEE;
  border-radius: 6px;
  border: none;
  box-shadow: 5px 5px 10px 2px rgba(54, 53, 53, 0.8);
  color: #495E57;
 } 
 

 .occasion-input{
  padding: 16px;
  width: 280px;
  text-align: center;
  cursor: pointer;
  background-color: #EDEFEE;
  border-radius: 6px;
  border: none;
  box-shadow: 5px 5px 10px 2px rgba(54, 53, 53, 0.8);
  color: #495E57;
 }

  .icon-active,
  .time-icon,
  .guests-icon,
  .occasion-icon{
  position: absolute;
  top: 60%;
  right: 245px;
  transform: translateY(-30%);
  color: #495E57;
  align-items: center;
 }